Counts on the dataset of estimated residential parking permit (RPP) parking spots in DC.

In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
estimated_spots = gpd.read_file('output/estimated_rpp_spots.geojson')

## Total

In [3]:
print('Total RPP spots: {:,.0f}'.format(len(estimated_spots)))

Total RPP spots: 155,077

## RPP Spots by Ward

In [4]:
count_by_ward = pd.DataFrame(estimated_spots.groupby('ward').size(), columns=['rpp_spots'])
count_by_ward.style.bar(vmin=0).format('{:,}')

## Total Area of Parking

How much area is devoted to on-street residential permit parking?

In [5]:
parking_spot_length_feet = 21
parking_spot_width_feet = 9

In [6]:
parking_spot_area_sqft = parking_spot_length_feet * parking_spot_width_feet
rpp_area_sqft = len(estimated_spots) * parking_spot_area_sqft
rpp_area_acres = rpp_area_sqft / 43560
rpp_area_sqmi = rpp_area_sqft / (5280*5280)

In [7]:
print('Residential Parking Permit area: {:,.0f} square feet'.format(rpp_area_sqft))
print('Residential Parking Permit area: {:,.1f} acres'.format(rpp_area_acres))
print('Residential Parking Permit area: {:,.3f} square miles'.format(rpp_area_sqmi))

Residential Parking Permit area: 29,309,553 square feet
Residential Parking Permit area: 672.9 acres
Residential Parking Permit area: 1.051 square miles

## Count by Street

In [8]:
count_by_street = pd.DataFrame(
    estimated_spots.groupby(['street_name', 'street_type', 'quadrant']).size()
    , columns=['rpp_spots']
).reset_index()
count_by_street.to_csv('output/count_by_street.csv', index=False)
count_by_street.sample(7)

     street_name street_type quadrant  rpp_spots
276  CHEVY CHASE        PKWY       NW        381
38          18TH          ST       NE        300
442    HAWTHORNE          ST       NW        243
461      HOWISON          PL       SW         54
725     RANDOLPH          ST       NW        307
745         ROSS          PL       NW         14
771      SHERMAN         AVE       NW        269